html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    user-select: none;
    cursor: none;
}
  

.overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,#fb9797, #f5f2ea) ;
    color: #000000;
    position: fixed;
}

.text {
    z-index: 3;
    position: absolute;
    pointer-events: none;
    font-size: 2em;
    -webkit-text-stroke: 1.6px #e100ff33;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffffc4;
}

.text span {
    color: #c94bff;
}

.font {
    position: absolute;
    top: 2rem;
    padding-bottom: 17rem;
    display: flex;
    flex-direction: column;  
    color: rgba(255, 255, 255, 0.581);     
    z-index: 20;
    rotate: -90deg;           
}

.citation{
    letter-spacing: 2px;
    margin-bottom: 0;
    font-size: 9px;
}

.namec{
    padding-left: 7rem;
    margin-top: 0;
    font-size: 12px;
}

.container-img{
    margin-left: 60%;
    margin-top: 10%;
    margin-right: 10%;
}

.photo{
    z-index: 0;
    
}

.textd{
    position: relative; 
    display: flex;

    top: 60px; 
    width: 30rem;
    z-index: 1;
    color: rgb(0, 0, 0);
}

.text1{
    font-size: 1rem;
    padding-left: 1rem;
}

.text2{
    font-size: 1rem;
    padding-left: 5rem;
}


@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
  }

.name{
    z-index: 1;
    margin-left: -180px;
    position: absolute;
    margin-top: 10%;
    -webkit-animation: rotating 20s linear infinite;
}

.menu {
    position: absolute;
    bottom: 0;
    margin: 20px;
    z-index: 2;
}

.et{
    font-size: 10em;
    font: bolder;
    color: rgba(255, 255, 255, 0.322);
    background:none;
    margin-top: -25%;
    margin-left: 20%;
    
}

.menu-item {
    font-size: 140px;
    margin: 4px;
    overflow: hidden;
    margin-top: -50px;
}


.menu-item-wrapper {
    display: flex;
    position: relative;
    left: -23%;
    transition: all 0.2s ease-out;
}

ion-icon {
    position: relative;
    top: 8px;
    margin-right: 10px;
}

.menu-item:hover .menu-item-wrapper {
    left: 0;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: "Helvetica";
    font-weight: 300;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: color, text-decoration;
}

a:hover {
    
    color: rgb(255, 255, 255);
    cursor: none;
    
    
}

footer{
    display: none;
}

@media (max-width: 768px) {
    .body{
        margin: 15px;
        cursor: auto;
    }
    .photo{
        width: 40%;
    }

    .container-img {
        display: flex;
        margin-left: 0%;
        margin-top: 10%;
        margin-right:0%;
        z-index: 0;
    }
    
    .name{
        display: none;
    }
    .text{
        display: none;
    }
    .menu {
        bottom: 100px;
        margin: 10px;
    }
    
    .menu-item {
        font-size: 100px;
    }

    .font{
        display: none;
    }

    .text2{
        display: none;
    }

    
    .menu {
        position: relative;
        bottom: 1em;
        top: 45%;
        left: 25%;
        transform: translateX(-25%) translateY(-25%);
        margin: 20px;
        width: fit-content;
        height: fit-content;
        z-index: 1;
    }

    .menu-arrow {
        display: none;
    }

    .menu-item-container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    
    .menu-item {
        font-size: 90px;
        margin: 4px;
        margin-top: -10px;
    }
    
    
    .menu-item-wrapper {
        display: flex;
        position: relative;
        left: 0%;
        transition: all 0.2s ease-out;
    }

    a {
        text-decoration: none;
        color: #000000;
        font-family: "Helvetica";
        font: bold;
    }

    .overlay{
        background: linear-gradient(to top,#fb9797, #f5f2ea) ;
    }

    footer{
        display: relative;
        
        text-align: center;
        width: 100%;
        color: rgb(0, 0, 0);
        background-color: #ffffff;
        font-size: 15px;
        z-index: 0;
    }

    .font{
        display: none;
    }

    .et{
        font-size: 9em;
        margin-top: -45%;
        margin-left: 50%;
        
    }

}