
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color:hsla(0,0%,95%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(185,100%,74%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, #1fddff 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(211,100%,72%,1) 0px, transparent 50%),
    radial-gradient(at 14% 18%, hsla(220,100%,76%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, #6b66ff 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343,100%,0%,1) 0px, transparent 50%);
    
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden; 

    cursor: none; 
}

@font-face {
    font-family: 'Noir';
    src: url('../font/Noir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(50px);
}

.background-noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    background-image: url('../img/noise.jpg');
    opacity: 0.5; 
    pointer-events: none; 
    mix-blend-mode: screen; 
}

.liter-regular {
    font-family: "Liter", serif;
    font-weight: 400;
    font-style: normal;
  }

.liter-bold {
    font-family: "Liter", serif;
    font-weight: bold;
    font-style: normal;
  }

.cont1::-webkit-scrollbar {
    width: 20px;
}

.cont1::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    
}

.cont1::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 4px;
    border: 2px solid  #000000;
}

.cont1::-webkit-scrollbar-thumb:hover {
    background: #293275;
}

.liter-regular {
    font-family: "Liter", serif;
    font-weight: 400;
    font-style: normal;
  }

.liter-bold {
    font-family: "Liter", serif;
    font-weight: bold;
    font-style: normal;
  }

.text {
    z-index: 100;
    position: absolute;
    pointer-events: none;
    font-size: 2em;
    -webkit-text-stroke: 1.6px #ff000033;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffffc4;
}

.text span {
    color: #000000;
}

.logo {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 86px; 
    height: 124px;
    transition: all 0.2s ease;
    user-select: none;
    z-index: 5;
}

.logo svg {
    width: 100%;
    height: 100%;
    padding: 8px;
    user-select: none;
}

.logo:hover {
    width: 172px; 
    height: 248px;
}

.logo svg:hover #j {
    fill: #08456b;
    transition: 1.5s ease;
}

.logo svg:hover #f {
    fill: red;
}

.logo svg:hover #Tracé_6 {
    fill: red;
}

.logo svg:hover #Tracé_7 {
    fill: #08456b;
}


.info{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-right: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    user-select: none;
    z-index: 2;

}

.info p{
    color: #000000;
    font-size: 13px;
    width: 350px;
    margin-top: 1rem;
    font-weight: bold;
    opacity: 40%;
    
}

.info svg{
    padding: 0;
    margin: 0;
    margin-right: 1rem;
    opacity: 0.8;
}

.ensemble{
    display: flex;
    align-items: center;
}

.boutons{
    display: flex;
    align-items: center;
    margin-left: 5rem;
    z-index: 4;
}

.liens{
    display: flex;
    flex-direction: column;
}

a{
    margin-bottom: 5px;
    text-decoration: none;
    user-select: all;
    
}

.liens a button{
    border-radius: 90px;
}

button{
    background-color: white;
    border-radius: none;
    border: none;
    width: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.b1{   
    transition: all 0.3s ease;
}

.b1:hover{
    background-color: #c68d47 ;
}

.b2{   
    transition: all 1s ease;
}

.b2:hover{
    background-color: #49b03b ;
}

.b3{   
    transition: all 1s ease;
}

.b3:hover{
    background-color: #3b9eb0 ;
}

.b4{   
    transition: all 1s ease;
}

.b4:hover{
    background-color: #c74266 ;
}

.b6{   
    transition: all 1s ease;
}

.b6:hover{
    background-color: #c7aa42;
}

.b5{
    display: none;
}


button p{
    margin-left: 10px;
    font-size: 15px;
}

button i{
    margin-left: 10px;
    font-size: 30px;
}

.cont1{
    height: 35rem;
    width: 50%;
    overflow-x: hidden;
    margin-top: 5rem;
    margin-left: 1rem;
}

.container{
    position: relative;
    width: 60rem;
}



.slider1 {
    height: 35rem;
    position: sticky;
    margin-bottom: 50vh; 
    top: 0;
    background-color: #166877;
    width: 100%;
    z-index: 5;
}

.presentation{
    margin-left: 5px;
}

.presentation div{
    width: 600px;
}

.presentation h1{
    font-size: 10rem;
    margin-top: 0;
    margin-bottom: 3px;
}

.presentation p{
    font-size: 20px;
    margin-top: -1rem;
    margin-left: 5px;
    margin-top: 1rem;
}

.presentation p a{
    color: #ff2d2d;
    font-size: larger;
}

.titre{
    display: none;
    position: absolute;
    margin-top: -10rem;
    font-size: 30rem;
    color: #eb6565;
    opacity: 0.5;
    user-select: none;
}

.slider2 {
    position: sticky;
    height: 35rem;
    top: 0;
    background-color: #c24a4a;
    width: 100%;
    z-index: 6;
}

.presentation2 h1{
    font-size: 10rem;
    margin-left: 25rem;
    margin-bottom: 0;
    margin-top: 0;
}

.langage{
    margin-bottom: 2rem;
}

.langage img{
    margin-left: 1rem;
}

.logiciel{
    margin-left: 1rem;
}

.logiciel img{
    margin-left: 1rem;
}

.projet{
    margin-top: 6rem;
}

.grille a button{
    width: 300px;
    border: none;
    transition: all 2s ease;
}

.grille a button:hover{
    background-color: rgb(159, 159, 243);
}

.grille a p{
    margin-right: 1rem;
}

.grille img{
    margin-left: 1rem;
}

@media (max-width: 768px) {
    body{
        overflow-y: auto;
        overflow-x: none;
        cursor: auto;
    }
    .info{
        display: none;
    }

    .text{
        display: none;
    }

    .logo {
        position: absolute;
        top: 0;
        margin-right: 2rem;
        margin-bottom: 2rem;
        width: 46px; 
        height: 84px;
        transition: all 0.2s ease;
        user-select: none;
        z-index: 5;
    }
    
    .logo svg {
        width: 100%;
        height: 100%;
        padding: 8px;
    }
    
    .logo:hover {
        width: 56px; 
        height: 94px;
    }

    .ensemble{
        flex-direction: column-reverse;
    }

    button{
        width: 100px;
        height: 30px;
    }

    button p{
        margin-left: 5px;
        font-size: 10px;
    }
    
    button i{
        margin-left: 10px;
        font-size: 15px;
    }

    .boutons{
        display: flex;
        align-items: center;
        margin-left: 5rem;
        z-index: 4;
    }

    .liens {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: center; 
        align-items: center;
        max-width: 500px; 
        max-height: 100px;
        margin: auto;
        margin-left: -12rem;
        margin-top: 6rem;
    }
    
    .liens a {
        flex: 1 1 calc(50% - 0.5rem);
        display: flex;
        justify-content: center;
    }

    .cont1{
        height: auto;
        width: 100%;
        overflow-x: hidden;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .container{
        position: relative;
        width: 60rem;
        margin-top: 5rem;
    }

    .slider1 {
        height: 30rem;
        position: relative;
        margin-bottom: 0vh; 
        width: 100%;
    }

    .presentation{
        margin-left: 5px;
    }

    .presentation div{
        width: 350px;

    }
    
    .presentation h1{
        font-size: 5rem;
        margin-top: 0;
        margin-bottom: 3rem;
    }
    
    .presentation p{
        font-size: 15px;
        margin-top: -1rem;
        margin-left: 5px;
        margin-top: 0.5rem;
    }

    .slider2 {
        height: 35rem;
        position: relative;
        margin-bottom: 0vh; 
    }

    .presentation2 h1{
        font-size: 5rem;
        margin-top: 0rem;
        margin-left: 13rem;
    }
    
    .langage{
        margin-bottom: 2rem;
        width: 300px;
    }
    
    .langage img{
        margin-left: 1rem;
    }
    
    .logiciel{
        margin-left: 1rem;
        width: 300px;
    }
    
    .logiciel img{
        margin-left: 0rem;
    }
    
    .projet{
        margin-top: 2rem;
    }
    
    .grille a button{
        width: 200px;
        border: none;
        transition: all 2s ease;
    }
    
    .grille a button:hover{
        background-color: rgb(159, 159, 243);
    }
    
    .grille a p{
        margin-right: 1rem;
    }
    
    .grille img{
        margin-left: 1rem;
    }
}


